{% extends 'base.html' %}
{% block content %}
<main class="p-5">
    <div class="row">
        <div class="col">
            <h3 class="myhead2">Contact</h3>
        </div>
    </div>
    <div class="row p-5 text-justify">
        <div class="col-md-6">
            <form>
                <input class="form-control" type="text" name="uname" placeholder="Name" /><br>
                <input class="form-control" type="email" name="email" placeholder="Email" /><br>
                <input class="form-control" type="tel" name="phone_no" placeholder="Phone No" /><br>
                <textarea class="form-control" placeholder="Message"></textarea>
                <button class="btn btn-dark btn-block mt-5" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <p><strong><span class="btn btn-info fa fa-map-marker mx-2"></span></strong>National Corporate Park, 117, Great Eastern Rd, Geeta Nagar, Choubey Colony, Samta Colony, Raipur, Chhattisgarh 492001</p><br>
            <p><strong><span class="btn btn-success fa fa-phone mx-2"></span></strong>999220xxxx</p><br>
            <p><strong><span class="btn btn-warning fa fa-fax mx-2"></span></strong>999220xxxx</p><br>
            <p><strong><span class="btn btn-primary fa fa-globe mx-2"></span></strong>http://esabha.com</p><br>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-8 offset-sm-2">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14874.742904550822!2d81.6111144!3d21.2443074!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9ed6532a6f04f63c!2sEffCon%20Technologies!5e0!3m2!1sen!2sin!4v1588507178690!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</main>
{% endblock %}